# Aula5 - Exercícios Extra - Python e Pandas

### Onde buscar informações sobre as funções do Pandas
[https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)

In [19]:
#@title Init Cell - Execute-me!!!
import sys
from datetime import datetime
import requests
import time
from requests.utils import quote
url = 'https://docs.google.com/forms/d/e/1FAIpQLSeASSC8-w8FmfodZ4lBnuSEAvYuE4vatIBowLIREG1f-2pIpA/formResponse?usp=pp_url&entry.1986154915=mbacd&entry.513694412=2021&entry.1914621244=CienciaDeDados'

def format_values(values):
    return {
        "entry.1269959472": values['student_id'],
        "entry.1799867692": str(values['exercise_number']).replace(".", "_"),
        "entry.886231469": values['exercise_score'],
        "entry.1491599254": values['exercise_extra'],
        "entry.1342537331": values['id']
    }

def send_attendance(url, data):
    count = 0
    while count < 3:
        count += 1
        try:
          r = requests.post(url, data=data)
          break
        except:
          print("Error Occured!")
          time.sleep(2)

def validate(func, inputs, outfunc, outputs, exercise_number, exercise_extra):
  answers_status = True
  for k, v in zip(inputs, outputs):
    ans = func(*k)
    try:
        result = outfunc(ans) == v
        if not result:
          answers_status = False
          print(f"Resposta incorreta. {func.__name__}({k}) deveria ser {v}, mas retornou {ans}")
    except ValueError:
        pass
        if not result.all():
          answers_status = False
          print(f"Resposta incorreta. {func.__name__}({k}) deveria ser {v}, mas retornou {ans}")

  if answers_status:
      student_email=!gcloud config get-value account
      if not student_email or 'unset' in student_email[0]:
        !gcloud auth login
        student_email=!gcloud config get-value account
      exercise_score = True
      values = {"exercise_number": exercise_number, "student_id": student_email[0],
                "exercise_points": 1, "exercise_score": exercise_score, 
                "exercise_extra": exercise_extra,
                "id": f"{student_email[0]}_{exercise_number}"}
      final_data = format_values(values)
      send_attendance(f"{url}&emailAddress={quote(str(student_email[0]))}", final_data)
      print("Parabéns")

In [1]:
# Importe a biblioteca pandas e numpy
import pandas as pd
import numpy as np

### 5.5 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe de valores do tipo string ('yes' ou 'no') para uma coluna do tipo booleano parametrizando no nome da coluna a ser alterada.
#### Exemplo: Considere o dataframe a seguir
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | True      |
| b  | Maria      |     9   | False     |
| c  | Joao |    16.5 | True      |


#### Dica: use a função Series.map

In [2]:
def change_yes_no(df, col):
    """altere o data frame na coluna col substituindo 'yes' por True e 'no' por False
    """
    ### BEGIN SOLUTION
    df[col] = df[col].map({'yes': True, 'no': False})
    return df
    ### END SOLUTION

In [3]:
## Faça seus testes aqui

In [4]:
# Validação
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

assert change_yes_no(df, 'qualify').equals(df2)

### 5.6 Escreva uma função para ordenar um DataFrame por colunas (Ex.: [col1, col2,...,colK]), de forma descendente, e retornar as top N linhas do DataFrame ordenado 
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### Dica 1: Use a função sort_values do DataFrame. Esta função possui os parâmetros inplace e ascending.

#### O código a seguir faz o download deste dataset na forma de um dataframe.

In [5]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [6]:

def topN_sorted(df, cols, n):
    """retorne as top n linhas ordenadas por cols
    """
    ### BEGIN SOLUTION
    return df.sort_values(cols, inplace=False, ascending=False)[:n]
    ### END SOLUTION

In [7]:
## Faça seus testes aqui
df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

topN_sorted(diamonds,['price', 'clarity'], 3)

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56

In [8]:
# Validação
df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

assert topN_sorted(diamonds,['price', 'clarity'], 3).equals(df)

### 5.7 Considerando o dataset Diamonds, escreva uma função para retornar as informações dos diamantes que atendam a especificação x > N e y > N e Z > N
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### O código a seguir faz o download deste dataset

In [9]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [10]:
# Dica 1: Use o operador & (AND) para realizar a conjunção lógica (p ^ q).
#         Use a sintaxe com colchete e parênteses df[(S1) & (S2) & (S3)]

def filter_xyz(df, n):
    """retorne as linhas que atendam a especificação x > n e y > n e Z > n
    """
    ### BEGIN SOLUTION
    return df[(df['x'] > n) & (df['y'] > n) & (df['z'] > n)]
    ### END SOLUTION

In [11]:
## Faça seus testes aqui

In [12]:
# Validação
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
test_data = {'carat': {24067: 2.0}, 'cut': {24067: 'Premium'}, 'color': {24067: 'H'}, 'clarity': {24067: 'SI2'},
 'depth': {24067: 58.9}, 'table': {24067: 57.0}, 'price': {24067: 12210}, 'x': {24067: 8.09}, 'y': {24067: 58.9},
 'z': {24067: 8.06}}

assert filter_xyz(diamonds, 7).to_dict() == test_data

### 5.8 Escreva uma função para ordenar uma lista de dicionários usando uma função Lambda. A função criada deve receber como argumento a chave do dicionário que será usada na ordenação da lista.

In [13]:
# Dica: use a função sorted. Use o argumento key da função sorted.
def sort_dict_list(l, chave):
    """retorne a lista ordenada
    """
    ### BEGIN SOLUTION
    return sorted(l, key = lambda x: x[chave])
    ### END SOLUTION

In [14]:
## Faça seus testes aqui

In [15]:
# Validação
data = [{'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
        {'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
       {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]

data_sorted = [{'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
        {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
       {'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]

assert sort_dict_list(data, 'nome') == data_sorted

### 3.9 Escreva uma função para criar uma nova coluna chamada 'segundo' que tenha o segundo maior valor de cada linha de df.

In [16]:
# Dica 1: Use a função apply do Dataframe aplicando uma função lambda.
#            e use a função sorted dentro da função lambda. Perceba que você precisa converter o argumento da
#            da função lambda para list antes de aplicar o método sorted.
# Dica 2: Aplique a função lambda no eixo 1.

def segundo_maior(df):
    """retorne o dataframe df com uma nova coluna 'segundo' que tenha o segundo maior valor de cada linha de df
    """
    ### BEGIN SOLUTION
    df["segundo"] = df.apply(lambda x: sorted(list(x))[-2], axis = 1)
    return df
    ### END SOLUTION

In [17]:
## Faça seus testes aqui

In [18]:
# Validação
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)
assert list(segundo_maior(df)['segundo']) == [20, 36, 25, 27, 48, 26, 24, 36, 2, 31]